/*기본설정*/
*{
    
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    font-family:"맑은 고딕";
}
/*선택시*/
a{
    color: inherit;
    text-decoration: none;
}
/*버튼선택시*/
button{
    cursor: pointer;
}
/*기본 넓이 960px*/
body, html{
    min-width: 960px;
}
/*헤더 넓이:100%,좌로 정렬*/
.all{
    width:100%;
    float: left;
}
.wrap{
    width:960px;
}
.clear{
    clear: both;
    position: inherit;
}

/*전체적인 틀 작성*/
hearder{
    height: 150px;
}
#header_div{
    
    padding-top: 10px;
}
#imgslide{
    margin-top: 10px;
    height: 400px;
}
#contents{
    height: 500px;
}

footer{
    height: 150px;
    background-color: #4298cc;
    width: 960px;
    color: #ffffff;
    overflow: hidden;
}



/*logo 이미지*/
.logo{
    width: 280px;
    height: 110px;
    overflow:hidden;
    float: left;
}
.logo>a>img{
    width: 100%px;
    margin-top: -180px;
}

/*nav*/
nav{
    float: right;
    margin-top: 30px;
    padding: 10px;
}
.nav{
    width: 600px;
    height: 20px;
}
.nav>li{
    float:left;
    width:200px;
    text-align: center;
    position: relative;
    transition: all 0.4s;
    padding: 5px 0;
}
.nav>li:hover{
    background-color: #4298cc;
    color: #fff;
}
/*nav안에 submenu*/
.submenu{
    display: none;
    background-color:rgba(255,255,255,0.8);
    position: absolut;
    z-index:1;
    width:100%;
    margin-top:5px;
}
.submenu>li{
    padding:5px 0;
    transition: all 0.1s;
    color:#000;
}
.submenu>li:hover{
    background-color: #00ccff;
    color: inherit;
}

/*images slide*/
.imgs{
    position: relative;
    overFlow: hidden;
    height: 400px;
    width:960px;
    background-color: #fff;
}
.imgs>img{
    width: 100%;
    position: absolute;
    transition: all 2s;
}
/*text 꾸미기*/
.welcome{
    position: relative;
    margin: -50px 0 0 -300px !important;
    text-align: center;
    width: 600px;
    height: 50px;
    line-height: 50px;
    background-color: #cccccc;
    border-radius: 30px;
    left: 50%;
    top: 55%;
}
span{
    color: #893700;
}
h1,h2,h3,h4,h5,h6,p{
    color: #999999;
}

/*공지사항*/
.notice{
    width: 480px;
    margin-top: 20px;
    float: left;
}
.notice h2{
    text-align: center;
}
.table{
    border-collapse: collapse;
    font-size: 0.9em;
    color: #666666;
}
.table tr>th{
    padding: 5px 0;
}
.table tr>td{
    padding: 5px;
}
.table tr:nth-child(2n){
    background-color: rgba(153,153,153,0.5);
}

/*정보나눔*/
.partner{
    float: right;
    width: 480px;
    margin-top: 20px;
}
.partner h2{
    text-align: center;
}
.partner pre{
    color: #666666;
}
.partner_info{
    margin-top: 30px;
}

/*icon*/
.icon{
    margin-top: 20px;
}
.icons{
    text-align: center;
}
.imgbtn{
    width: 160px;
    margin: 0 20px;
    display: inline-block;
}
.imgbtn button{
    padding: 10px;
    background-color: #999999;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
}
button{
    cursor: pointer;
}
.imgbtn>button:hover{
    background-color: #900;
}

/*footer*/
footer .wrap{
    padding: 10px 20px;
}
footer ul{
    width:50%;
    float: left;
}
footer ul>li{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}
footer p{
    width: 50%;
    font-size: 12px;
    float: right;
    color: #ffffff;
}